@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

@font-face {
    font-family: aircona;
    src: url(../fonts/CA\ Aircona\ W00\ Plain.ttf);
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #333;
    overflow-x: hidden;
}

.load-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-border{
    width: 10vh;
    height: 10vh;
    border: 2px solid red;
    background-color: red;
    animation: tumble 1s infinite;
}

@keyframes tumble{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.loader{
    width: 100%;
    height: 0;
    background-color: #333;
    animation: filler 1s infinite alternate-reverse;
}

@keyframes filler{
    0%{height: 100%;}
    100%{height: 0;}
}

.main{
    display: none;
}

.header{
    background-image: linear-gradient(to right, rgb(65, 62, 62), rgb(168, 38, 38));
    display: flex;
    /* justify-content: space-around; */
    justify-content: center !important;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
    width: 100%;
    height: 80px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    z-index: 4;
    font-family: aircona;
}

.img-logo{
    width: 222.4px;
    height: 30.6px;
    margin-top: 10px;
}

.navbar{
    width: 70%;
    height: 100%;
    transition: 0.5s all;
}

.navbar a{
    text-transform: uppercase;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul li{
    display: flex;
    align-items: center;
    height: 100px;
}

a{
    transition: 0.5s color;
}

.navbar ul li:hover ,a:hover{
    color: white;
    text-decoration: underline;
}

.active > a{
    border-bottom: 3px solid rgba(255, 0, 0, 1);
}

.sub-menu-1{
    position: absolute;
    top: 82px;
    display: none;
}

.sub-menu-1 ul{
    padding: 10px;
    display: block;
    background-image: linear-gradient(200deg, rgb(214, 31, 31), rgb(77, 74, 74));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sub-menu-1 ul li{
    border-bottom: 2px solid black;
    height: 50px;
    line-height: 20px;
}

.sub-menu-1 ul li a{
    text-transform:lowercase ;
    font-size: 17px;
}


.sub-menu-1 ul li:last-child{
    border: none;
}

.navbar ul li:hover .sub-menu-1{
    display: block;
}

.hamburger{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.ham{
    width: 70px;
    height: 8px;
    background: wheat;
    border-radius: 50px;
    margin:5px;
    transform-origin: 50%;
    transition: 0.5s all;
}


.ham1-active{transform: rotate(-45deg) translate(-10%,200%);}
.ham2-active{transform: translate(200%, 0%);}
.ham3-active{transform: rotate(45deg) translate(-10%,-200%);}

.photos{
    margin-top: 110px;
    width: 100%;
    height: 70vh;
    background-image: url("../images/s3-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 1s;
    z-index: 3;
}

.body-upper{
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    background: rgb(43, 42, 42);
}

.body-upper, .works, .works-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.works {
    width: 25%;
    height: 200px;
    color: red;
    padding: 50px;
    position: relative;
}

.works::after {
    content: "BURAYA İLGİLİ BİLGİLER GELECEK";
    text-align: center;
    color: rgb(172, 172, 172);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-120%);
}

.works:hover::after {
    transform: translateY(0%);
}

.works-inner{
    flex-direction: column;
    font-size: 20px;
}

.works:not(.works:last-child){
    border-right: 2px solid rgb(255, 0, 0);
}

.works-icon{
    width: 60px;
    height: 60px;
}

.works-icon-img{
    width: 100%;
    height: 100%;
}

#more-button{
    background-color: green;
    padding: 2vmin;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 85%;
    left: 8%;
    transition: 0.4s all;
    font-weight: bolder;
    cursor: pointer;
}

#more-button:hover{
    background-color: greenyellow;
}

#gallery-indexes{
    width: fit-content;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: fit-content;
}

.index{
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 10px;
}

.active-index{
    background-color: rgba(255, 0, 0, 1);
    border: 2px solid rgb(187, 187, 187);
}

.index:hover{
    background-color: rgba(255, 0, 0, 1);
}

.footer{
    width: 100%;
    height: fit-content;
    background: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-up{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
    font-size: 25px;
}

.footer-logo{
    width: 25%;
    border-radius: 20%;
}

.footer-down{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.box{min-height: 250px;}

.footer a, .footer li, .footer p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5)}

.sitemap, .contact, .mail-phone{
    width: 20%;
    height: 100%;
    border-bottom: 1px solid rgb(218, 213, 213);
}

.box a:hover{
    color: rgba(200, 0, 0, 0.5);
    text-decoration: none;
}

.sitemap >i, .contact >i, .mail-phone > i{
    font-size: 55px;
    color: rgb(156, 26, 26);
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 213, 213);
}

.social h2{
    color: rgb(138, 130, 130);
    font-size: 25px;
}

.social i{
    font-size: 40px;
    color: black;
    margin: 10px;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.7);
    transition: 0.5s all;
}

.social i:hover{
    transform: rotate(-20deg) translateY(-20%);
    color:  rgba(255, 0, 0, 0.7);
    text-shadow: 2px 5px black;
}

.contact h2, .sitemap h2, .mail-phone h2{
    font-size: 25px;
    color: rgb(138, 130, 130);
}

.footer-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-body{
    background-image: url("../images/contact-bg.jpg");
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-center h1{
    margin-top: 200px;
    font-size: 40px;
    margin-bottom: 50px;

}

.contact-center{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
:root{
    --contactDivHeight: 90vmin;
}

.contact-info-div{
    background-image:linear-gradient(
    60deg, 
    rgba(92, 38, 38, 0.65), 
    rgba(51, 49, 50, 0.65),
    rgba(92, 38, 38, 0.65));
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 150px;
    border-radius: 50px;
    position: relative;
    height: var(--contactDivHeight);
}

.contact-address-div{
    background-color: rgba(66, 61, 61, 0.9);
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    left: 0;
    animation: introAnim 1s ease-in forwards ;
    animation-delay: 0.5s;
    z-index: 2;
}

@keyframes introAnim{
    to{transform: translateX(-50%) /*rotate3d(0.9, 2.5, 0, 0.1turn)*/;}
}

.contact-info{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    /*border-bottom: 3px solid rgb(167, 11, 11);*/
    box-shadow: 0px 5px 10px 2px rgba(126, 10, 10, 0.5);
    margin-bottom: 10px;
}

.contact-info:last-child{
    border:none;
    justify-content: center;
}

.contact-info:hover{
    box-shadow: inset 0px 5px 10px 2px rgba(33, 33, 33, 0.5);
}

.contact-info a, .contact-info ul li{
    margin-left: 10px;
    font-weight: 500;
    color: rgb(184, 164, 164);
}

.contact-info i{
    font-size: 40px;
}

.contact-info > i{
    color: rgb(117, 25, 25);
}

.google-maps{
    padding: 20px;
    background:rgba(77, 74, 74, 0.5);
    opacity: 0.5;
    border-radius: 20px;
    z-index: 0;
    width: 95%;
    height: 95%;
}

.google-maps iframe{
    width: 100%;
    height: 100%;
}

.google-maps:hover{
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #333;
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(177, 1, 1);
}
  
::-webkit-scrollbar-thumb:hover {
    background: red;
}

@media only screen and (max-width: 960px){
    .turkey-map::before,
    .ukraine-map::before {
        font-size: 28px !important;
        padding: 20px;
    }

    .works {
        width: 50%;
        height: 200px;
        color: red;
        padding: 50px;
    }

    .works:nth-child(2n) {
        border-right: none !important;
    }

    .works:nth-child(2n + 1)::after {
        transform: translateX(-120%);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

    .works:nth-child(2n)::after {
        transform: translateX(120%);
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .works:hover::after {
        transform: translateY(0%);
    }
}

@media only screen and (min-width: 460px) and (max-width: 769px){
    
    .turkey-map::before,
    .ukraine-map::before {
        font-size: 25px !important;
        width: fit-content !important;
        word-wrap: normal;
    }

    .photos{
        margin-top: 80px;
        width: 100%;
        height: 300px;
        background-image: url("../images/s3-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header{
        /* justify-content: space-between; */
        justify-content: center !important;
        position: fixed;
        height: 8vmax;
    }

    #img-logo{
        width: 200px;
        margin-left: 50px;
    }

    .footer-logo #img-logo{
        margin: 0;
    }

    .navbar{
        background-image: linear-gradient(to right, rgba(214, 31, 31, 0.8), rgba(77, 74, 74, 0.8));
        font-size: 30px;
        top: calc(8vmax + 5px);
        z-index: 0;
        height: 70vh;
        width: 100%;
        position: absolute;
        font-size: 20px;
    }

    .nav-active{transform: translateY(-200%)}

    .navbar ul{
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .logo{
        width: 60%;
        /* margin-left: -7%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger{
        display: flex;
        margin-right: 20px;
    }

    .ham{
        margin: 3px;
        width: 40px;
        height: 4px;
    }

    .ham1-active{transform: rotate(-45deg) translate(-10%,250%);}
    .ham2-active{transform: translate(200%, 0%);}
    .ham3-active{transform: rotate(45deg) translate(-10%,-250%);}

    .navbar ul li{
        height: 40px;
    }

    .navbar a{
        font-size: 20px;
    }
    
    .navbar ul li:hover .sub-menu-1{
        display: none;
    }
    
    .footer a, .footer li{
        font-size: 20px;
    }

    .footer-up{
        flex-direction: column;
    }

    .info p{
        font-size: 20px;
    }

    .footer-logo #img-logo{
        width: 250px;
    }

    .footer-down{
        flex-direction: column;
        align-items: center;
    }

    .box{
        width: 97%;
        margin-bottom: 20px;
    }

    .box i{
        border: none;
        font-size: 55px;
        margin-bottom: -10px;
    }
    
    .social i{
        font-size: 50px;
    }
    
    .social h2{
        color: black;
        margin-top: 20px;
        font-size: 25px;
    }

    .box h2{
        margin-top: 23px;
    }

    .footer-logo{
        width: 400px;
    }

    .footer-bottom p{
        font-size: 20px;
    }

    /* .contact-info-div{
        width: 80%;
        flex-direction: column;
        height: fit-content;
        background-color:rgba(51, 49, 50, 0.05);
    } */
    
    :root{
        --contactDivHeight: 75vmin;
    }

    .google-maps > iframe{
        width: 100%;
        height: var(--contactDivHeight);
    }

    .google-maps{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    
    .contact-body{
        height: fit-content;
    }

    /* .contact-info-div{
        background-color: transparent;
        width: 95%;
    } */

    .contact-address-div{
        position: relative;
        animation: none;
        margin-bottom: 50px;
        width: 70%;
    }

    .contact-info.social i{
        font-size: 30px;
    }


    /* Will delete from this point. */

    .contact-center {
        width: 100% !important;
        height: 100% !important;
    }
    
    .contact-info-div {
        width: 100% !important;
        height: 100% !important;
        margin: 0px;
        border-radius: 0px !important;
    }
    
    .map {
        width: 95% !important;
        height: 80% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* to this point. */

}

@media only screen and (max-width: 510px){

    .works {
        flex: 1 1 100%;
        color: red;
        border: none !important;
        position: relative;
        border-bottom: 2px solid red !important;
    }

}

@media only screen and (max-width: 459px){

    .turkey-map::before,
    .ukraine-map::before {
        font-size: 20px !important;
    }

    .photos{
        margin-top: 80px;
        width: 100%;
        height: 300px;
        background-image: url("../images/s3-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:-100px ;
    }

    .header{
        /* justify-content: space-around; */
        justify-content: center !important;
        position: fixed;
        height: 8vmax;
    }

    #img-logo{
        width: 200px;
        margin-left: 20px;
    }

    .navbar{
        background-image: linear-gradient(to right, rgba(214, 31, 31, 0.8), rgba(77, 74, 74, 0.8));
        font-size: 30px;
        top: calc(8vmax + 5px);
        height: 70vh;
        min-width: 100%;
        position: absolute;
    }

    .nav-active{transform: translateY(-200%)}

    .navbar ul{
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .navbar a{
        font-size: 20px;
    }

    .logo{
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger{
        display: flex;
        margin-right: -5px;
    }

    .ham{
        margin: 3px;
        width: 40px;
        height: 4px;
    }

    .ham1-active{transform: rotate(-45deg) translate(-10%,250%);}
    .ham2-active{transform: translate(200%, 0%);}
    .ham3-active{transform: rotate(45deg) translate(-10%,-250%);}

    .navbar ul li{
        height: 50px;
    }

    .navbar ul li:hover .sub-menu-1{
        display: none;
    }
    
    .footer a, .footer li, .footer-bottom p{
        font-size: 18px;
    }
    
    .footer-up{
        flex-direction: column;
    }

    .info p{
        font-size: 15px;
    }

    .footer-logo #img-logo{
        width: 250px;
        margin-left: 0px;
    }

    .footer-down{
        flex-direction: column;
        align-items: center;
    }

    .box{
        width: 96%;
    }

    .box i{
        border: none;
        font-size: 50px;
    }
    
    .social i{
        font-size: 40px;
    }
    
    .social h2{
        margin-top: 20px;
        font-size: 30px;
    }

    .footer-logo{
        width: 300px;
    }

    /* .contact-center{
        margin-top: 150px;
    } */

    /* .contact-info-div{
        width: 95%;
        flex-direction: column;
        height: fit-content;
        background-color:transparent;
        padding: 0;
    } */
    
    :root{
        --contactDivHeight: 75vmin;
    }

    .google-maps > iframe{
        width: 100%;
        height: var(--contactDivHeight);
    }

    .google-maps{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    
    .contact-body{
        height: fit-content;
    }

    .contact-address-div{
        position: relative;
        animation: none;
        margin-bottom: 50px;
        width: 95%;
    }

    .contact-info.social i{
        font-size: 30px;
    }

    .contact-body h1{
        font-size: 30px;
        margin-top: 20px;
    }


    /* Will delete from this point. */

    .contact-center {
        width: 100% !important;
        height: 100% !important;
    }
    
    .contact-info-div {
        width: 100% !important;
        height: 100% !important;
        margin: 0px;
        border-radius: 0px !important;
    }
    
    .map {
        width: 95% !important;
        height: 80% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* to this point. */

}

@media only screen and (min-width: 770px) and (max-width: 1000px){
    .under-construction {
        left: -15px;
        top: -15px;
        border-top: 90px solid transparent;
        border-bottom: 90px solid transparent; 
        border-right: 90px solid rgb(155, 120, 5);
    }
    
    .under-construction::before {
        z-index: -1; 
        transform: translate(0%, -50%);
        border-top: 90px solid transparent;
        border-bottom: 90px solid transparent; 
        border-right: 90px solid rgba(0, 0, 0, 0.5);
    }
    
    .under-construction p {
        transform: rotate(-90deg) translate(10%, -15px);
        width: 200px;
        font-size: 18px;
    }
    
    .under-construction p i {
        transform: rotate(-45deg) translate(50%, -50%);
        font-size: 35px;
        color: white;
    }

    .turkey-map::before,
    .ukraine-map::before {
        font-size: 28px !important;
        top: -150px;
    }
    
    .header{
        /* justify-content: space-between; */
        justify-content: center !important;
    }

    .navbar{
        position: fixed;
        background-image: linear-gradient(to right, rgb(214, 31, 31), rgb(77, 74, 74));
        top: 85px;
        right: 0px;
        width: 30vw;
        font-size: 30px;
        height: 92vh;
    }

    .photos{
        background-position: center;
        height: 500px;
    }

    .nav-active{transform: translate(100%)}

    .navbar ul{
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .logo{
        /* width: 50%; */
        /* margin-left: 100px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #img-logo{
        width: 200px;
    }

    .hamburger{
        display: flex;
        margin-right: 20px;
    }

    .ham{
        margin: 3px;
        width: 40px;
        height: 4px;
    }

    .ham1-active{transform: rotate(-45deg) translate(-10%,250%);}
    .ham2-active{transform: translate(200%, 0%);}
    .ham3-active{transform: rotate(45deg) translate(-10%,-250%);}

    .navbar ul li{
        width: 30vw;
        justify-content: center;
        position: relative;
        font-size: 20px;
        align-items: flex-start;
        height: 5vh;
        line-height: 20px;
    }

    .navbar ul li:hover .sub-menu-1{
        position: absolute;
        display: block;
        right:calc(30vw + 5px);
        margin-top: 0;
        top: 0px;
        font-size: 20px;
    }

    .sub-menu-1 ul li{
        justify-content: left;
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 0px;
        min-height: 50px;
        line-height: 20px;
    }

    .sub-menu-1 ul{
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .sub-menu-1 ul li a{
        font-size: 18px;
    }

    .footer a, .footer li, .footer-bottom p{
        font-size: 20px;
    }

    .footer-down{
        flex-direction: column;
        align-items: flex-start;
    }

    .box{
        width: 30%;
        margin-bottom: 20px;
    }

    .box i{
        border: none;
    }
    
    .footer-logo{
        width: 300px;
    }

    /* .contact-info-div{
        width: 80%;
        flex-direction: column;
        height: fit-content;
        background-color:rgba(51, 49, 50, 0.05);
    } */
    
    :root{
        --contactDivHeight: 75vmin;
    }

    .google-maps > iframe{
        width: 100%;
        height: var(--contactDivHeight);
    }

    .google-maps{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    
    .contact-body{
        height: fit-content;
    }

    .contact-address-div{
        position: relative;
        animation: none;
        margin-bottom: 50px;
    }

    /* Will delete from this point. */

    .contact-center {
        width: 100% !important;
        height: 100% !important;
    }
    
    .contact-info-div {
        width: 100% !important;
        height: 100% !important;
        margin: 0px;
        border-radius: 0px !important;
    }
    
    .map {
        width: 95% !important;
        height: 80% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* to this point. */
}

@media only screen and (min-width: 1001px) and (max-width: 1300px){

    .turkey-map::before,
    .ukraine-map::before {
        font-size: 30px !important;
    }

    .header{
        /* justify-content: space-between; */
        justify-content: center !important;
    }

    .navbar{
        position: fixed;
        background-image: linear-gradient(to right, rgb(214, 31, 31), rgb(77, 74, 74));
        top: 85px;
        right: 0px;
        width: 30vw;
        font-size: 30px;
        height: 92vh;
    }

    .photos{
        background-position: center;
        height: 500px;
    }

    .nav-active{transform: translate(100%)}

    .navbar ul{
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #img-logo{
        width: 200px;
    }

    .hamburger{
        display: flex;
        margin-right: 20px;
    }

    .ham{
        margin: 3px;
        width: 40px;
        height: 4px;
    }

    .ham1-active{transform: rotate(-45deg) translate(-10%,250%);}
    .ham2-active{transform: translate(200%, 0%);}
    .ham3-active{transform: rotate(45deg) translate(-10%,-250%);}

    .navbar ul li{
        width: 30vw;
        justify-content: center;
        position: relative;
        font-size: 20px;
        align-items: flex-start;
        height: 5vh;
        line-height: 20px;
    }

    .navbar ul li:hover .sub-menu-1{
        position: absolute;
        display: block;
        right:calc(30vw + 5px);
        margin-top: 0;
        top: 0px;
        font-size: 20px;
    }

    .sub-menu-1 ul li{
        justify-content: left;
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 0px;
        min-height: 50px;
        line-height: 20px;
    }

    .sub-menu-1 ul{
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .sub-menu-1 ul li a{
        font-size: 18px;
    }

    .footer a, .footer li, .footer-bottom p{
        font-size: 20px;
    }

    .footer-down{
        flex-direction: column;
        align-items: flex-start;
    }

    .box{
        width: 30%;
        margin-bottom: 20px;
    }

    .box i{
        border: none;
    }
    
    .footer-logo{
        width: 300px;
    }

    .contact-info-div{
        width: 60%;
    }
    
    :root{
        --contactDivHeight: 80vmin;
    }

    .google-maps > iframe{
        width: 100%;
        height: 100%;
    }

    .google-maps{
        width: 100%;
        height: 100%;
    }
    
    .contact-body{
        height: fit-content;
    }
}

/* Will delete from this point */
.header {
    height: 50px !important;
    background: rgba(33, 33, 33, 0.9);
    justify-content: center !important;
    z-index: 9999;
}

.header * {
    display: none;
}

.logo, .logo * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-center {
    width: 100%;
    height: 100% !important;
}

.contact-info-div {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px !important;
}

.map {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* to this point */

.svg-turkiye-haritasi {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.svg-turkiye-haritasi svg {
    width: 100%;
    height: auto;
}

.ukraine-map {
    position: relative;
    max-width: 1140px;
    width: 55%;
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ukraine-map svg {
    width: fit-content;
    height: fit-content;
    width: clamp(30%, fit-content, 100%);
}



.il-isimleri {
    position: absolute;
    z-index: 2;
}

.il-isimleri div {
    font-family: 'Open Sans';
    display: inline-block;
    background: rgb(55, 55, 55);
    color: #fff;
    padding: 8px 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .8);
}

#svg-turkiye-haritasi path,
svg path {
    cursor: pointer;
    fill: #222;
    position: relative;
}

#svg-turkiye-haritasi path:hover,
svg path:hover {
    fill: rgb(214, 31, 31);
    stroke: black;
}

#guney-kibris {
    pointer-events: none;
}

.turkey-map {
    position: relative;
    margin-top: 100px;
    padding: 20px 15px;
}

.turkey-map::before,
.ukraine-map::before {
    font-family: aircona;
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    width: fit-content !important;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid rgb(255, 0, 0);
    border-top: none;
    border-bottom: none;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 20px;
}

.turkey-map::before {
    content: attr(title);
}

.ukraine-map::before {
    content: attr(title);
    top: -100px !important;
}

.ukraine-map path {
    stroke: transparent;
}

.franchise-info-block {
    padding: 24px;
    width: 340px;
    height: 250px;
    background: rgba(0, 0, 0, 1);
    display: none;
    animation: infoBlockFlipper .5s forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .8);
    overflow: hidden;
}

.franchise-info-block::after {
    content: "";
    background-color: rgba(255, 25, 25, .15);
    -webkit-mask-image: url(../images/speedometer.png);
    mask-image: url(../images/speedometer.png);
    -webkit-mask-size: 70%;
    mask-size: 70%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    color: red;
    width: 350px;
    height: 200px;
    bottom: 0px;
    left: 40%;
}

@keyframes infoBlockFlipper {
    from {transform: translate(-50%, -50%) scale(0) rotateY(0deg);}
    to {transform: translate(-50%, -50%) scale(1) rotateY(360deg);}
}

.franchise-info-block * {
    color: #fff;
}

.franchise-info-block-header {
    position: relative;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
}

.franchise-info-block-header::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-120%, -50%);
    background-color: rgb(214, 31, 31);
}

.franchise-info-block-adrress {
    margin-top: 15px;
}

.franchise-info-block-adrress li {
    font-size: 20px;
    line-height: 1.5;
}

.franchise-info-block-social i {
    color: red;
    font-size: 25px;
    margin-top: 15px;
}

.franchise-info-block-social i:hover {
    transform: scale(1.2);
    transition: 0.5s all;
}

.lang-change-block {
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 70px;
    z-index: 2;
    padding: 15px;
    border: 5px solid gray;
    border-radius: 50%;
}

.lang-change-block::after {
    content: attr(title);
    font-size: 15px;
    font-weight: bold;
    color: rgb(158, 158, 158);
    position: absolute;
    left: 50%;
    width: fit-content;
    bottom: -10px;
    transform: translate(-50%, 100%);
}

.ghost-parent-tick {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform-origin: bottom;
    width: 3px;
    height: 100px;
}

.tick {
    position: absolute;
    top: 50%;
    width: 3px;
    height: 10px;
    background-color: gray;
}

.ghost-parent-tick:nth-child(1) .tick,
.ghost-parent-tick:nth-child(9) .tick {
    height: 15px;
    transform: translateY(-30%);
}

.ghost-parent-tick:nth-child(1) .tick::after,
.ghost-parent-tick:nth-child(9) .tick::after
 {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -100%);
}

.ghost-parent-tick:nth-child(1) .tick::after {
    content: "EN";
    color: rgb(255, 255, 255);
}

.ghost-parent-tick:nth-child(9) .tick::after {
    content: "TR";
    color: rgb(255, 255, 255);
}

.ghost-parent-tick:nth-child(5) .tick {
    height: 12px;
    transform: translateY(-20%);
    position: absolute;
}

.ghost-parent-tick:nth-child(5) .tick::after {
    content: "1/2";
    position: absolute;
    color: white;
    font-size: 12px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.gauge {
    width: 2px;
    height: 22px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: bottom;
    transform: translate(-60%, 15%) rotate(60deg);
    transition: .4s;
}

.gauge::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, 0%);
    background-color: red;
}


.under-construction {
    position: fixed;
    left: -15px;
    top: -15px;
    width: 0; 
    height: 0; 
    border-top: 115px solid transparent;
    border-bottom: 115px solid transparent; 
    border-right: 115px solid rgb(255, 198, 11);
    transform: rotate(45deg);
    z-index: 9;
    border-style: double;
}

.under-construction::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0; 
    height: 0;
    z-index: -1; 
    transform: translate(0%, -50%);
    border-top: 115px solid transparent;
    border-bottom: 115px solid transparent; 
    border-right: 115px solid rgba(0, 0, 0, 0.5);
}

.under-construction p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: rotate(-90deg) translate(10%, -15px);
    width: 200px;
    color: black;
    font-size: 20px;
}

.under-construction p i {
    transform: rotate(-45deg) translate(50%, -50%);
    font-size: 35px;
    color: white;
    animation: hammerWorks 1s infinite alternate-reverse;
}

@keyframes hammerWorks {
    from {
        transform: rotate(-25deg) translate(50%, -50%);
    }
    to {
        transform: rotate(-65deg) translate(50%, -50%);
    }
    
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-bottom p {
    width: fit-content;
}

.footer-logo > .info {
    margin-bottom: 10px;
}

.footer-bottom a {
    text-decoration: underline;
}

.footer-logo {
    width: 250px;
}

.contact-info-div {
    flex-direction: column;
}

.upper-slider {
    margin-top: 150px;
    width: 80vw;
    padding: 15px;
    background-color: rgba(33, 33, 33, 0.4);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upper-info-div {
    position: relative;
    flex-grow: 1;
    flex-basis: 200px;
    background-color: rgba(20, 20, 20, 1);
    border-radius: 5px;
    padding: 10px 60px;
    height: 100px;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    transition: transform .5s;
}

.upper-info-div p {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 0px;
    width: 100%;
    font-weight: bolder;
}

.upper-info-div::before,
.upper-info-div::after {
    position: absolute;
    top: 50%;
    font-size: 25px;
    color: red;
}

.upper-info-div::before {
    content: ">>";
    left: 0px;
    transform: translate(50%, -50%);
}

.upper-info-div::after {
    content: "<<";
    right: 0px;
    transform: translate(-50%, -50%);
}

.upper-info-div:hover {
    transform: scale(1.05);
}
